body {
	overflow-x: hidden;
	font-family: "Bitter", serif;
}
.topbar, .botbar {
	background-color: white;
}
.botbar {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 40px;
}
.midtext {
	position: absolute;
	height: 200px;
	top: 50%;
	margin-top: -100px;
	width: 100%;
}
.midtext #contact {
	background-color: rgba(0,0,0,0.7);
	
	font-size: 1.5em;
	color: white;
	text-align: center;
	
	height: 200px;
	width: 500px;
	
	margin: auto;
	padding: 20px;
	padding-top: 30px;

}
.midtext #contact .nav a {
	color: #bbb;
}
.midtext #contact .nav a:hover {
	color: #5D0000;
}
.midtext #contact .content{
	opacity: 1;
}
.header {
	font-family:"Bitter", serif;
	margin-top: 17px;
	margin-bottom: 12px;
}
.header span {
	color: #898989;
	font-size: 0.95em;
	margin-left: 3px;
}
.header a {
	color: black;
}
.header a:hover {
	text-decoration: none;
}

#slider1_container {
	box-shadow: 0px 1px 3px #000;
}
.nav a, .botbar a {
	padding: 14px 10px;

	color: #5a5a5a;

	font-size: 15px;
	font-weight: bold;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;

	text-transform: uppercase;
	
	transition: color 0.5s ease; 
} 

.nav a:hover {
	text-decoration: none;
	
	color: #B0ADAD; 
}

.nav li {
	display:inline-block;
}
#nav-list {
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-top: 6px;
}

.image-container {
	cursor: move; 
	left: 0px; 
	top: 0px; 
	right:0px; 
	width:1280px; 
	height:620px; 
	position:relative;
	overflow: hidden;
}